.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4c055a;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #9513ac;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }
  